<!doctype html>
<html>
    <head>
        <title>Opened Notebooks</title>
        <style type="text/css">
    #sessions {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
    }
</style>
    </head>
    <body>
        
        <div id="sessions">
        <div>
          <p>
            Laufende Sessions:
          </p>
        </div>
        {% for sid in sidRootfolderMapping %}
        <div>
        	<p>
    			<a href="{{ url_for('fileHierarchy', sid = sid) }}"
				   title="mehr Informationen">
				    <b>{{ sidRootfolderMapping[sid] }} </b> <i> ( {{ sid }} ) </i>
				</a>
       			 </b>
   			</p>
   		</div>
        {% endfor %}
      </div>
    </body>
</html>